[2013-06-09 23:44] Unia opened #3 "Gcolor3 crashed when deleting colors"
(gcolor3:31691): Gtk-CRITICAL **: gtk_list_store_get_value: assertion `iter_is_valid (iter, list_store)' failed

    (gcolor3:31691): GLib-GObject-WARNING **: gtype.c:4239: type id `0' is invalid

    (gcolor3:31691): GLib-GObject-WARNING **: can't peek value table for type `<invalid>' which is not currently referenced
    Segmentatiefout (geheugendump gemaakt)

[2013-06-12 19:31] Unia opened #8 "Implement GtkApplication"

[2014-08-16 20:56] holomorph opened #18 "missing key binds"
It would be nice if there were keys for Quit (M-q) and changing between the Color Chooser and Saved Colors, as in gcolor2.

[2014-11-01 23:39] krzema12 opened #19 "Transparent background in the Color chooser view"
Steps to reproduce the problem on my system:

1. Open `gcolor3` through the console. The background looks as is should.
2. Open **Saved colors** tab.
3. Go back to **Color chooser** tab. The window has no solid background - it looks like this:

![transparentbackground](https://cloud.githubusercontent.com/assets/3110813/4873695/351c290e-6220-11e4-94df-b1df6f4791b1.png)

Some info about my system:
*

[2015-01-25 18:01] 2ion opened #20 "Deprecation warning with gtk-3.14.5"
[code]
The change seems to be non-trivial since just replacing the function call makes the 'color chooser' page in the application invisible.

[2015-01-25 18:22] Unia commented on #20
The color selection widget has been deprecated for a few versions now. I haven't bothered updating, because the replacement does not offer a color picker like we have currently.

Thus, I'm afraid there's nothing I can do about this.

[2015-01-25 18:22] #20 closed

[2015-01-31 22:38] Unia commented on #8
Implemented by 37da5edced68abe9acbabf331f8c50cff0513b07.

Closing.

[2015-01-31 22:38] #8 closed

[2015-06-28 17:19] ghost opened #21 "Create a PPA for Ubuntu"
Hello,

To ease the installation of this very useful application is it possible that you create a PPA for Ubuntu ?

Thank you

[2015-06-28 23:02] Unia commented on #21
I have never looked into how PPA's work and such, so I have no clue how much work it is going to be. It is something I might look at in the future, but don't expect anything anytime soon. If someone with the knowledge and willingness to create a PPA for gcolor3 comes across this: feel free to set it all up. Let me know if I can help with something :)

[2015-06-28 23:08] Paviluf commented on #21
Ok I understand. However, if you want read some infos about creating a ppa, this link can be insteresting :
https://help.launchpad.net/Packaging/PPA

I really think it's important to be able to easily install the app.

[2015-06-29 19:51] Paviluf commented on #21
Maybe you could ask to varlesh some infos to create the PPA :
https://launchpad.net/~varlesh-l

He offers a gcolor3 build for Trusty
https://launchpad.net/~varlesh-l/+archive/ubuntu/gtk3-apps

[2015-06-29 20:20] Unia commented on #21
Thanks for the links. I am quite busy in the foreseeable future so again, don't expect anything anytime soon. It's not that hard to locally create a .deb package and install that, though. (Altho I understand that a PPA might be easier for some). Is there anything specific that is not working that I might be able to assist you with?

[2015-06-29 20:25] Paviluf commented on #21
I don't ;)

Thank you but I have no problem to install it

I just prefer use a PPA (auto update, etc...) and I think it's a shame that some really good/useful softs exist on Linux and there is no way to find and install them easily.

[2015-07-19 21:15] Unia commented on #3
Have not experiences this again since. This might also be completely irrelevant now after the rewrite. Closing.

[2015-07-19 21:15] #3 closed

[2015-07-19 21:16] Unia commented on #19
Can you try again now? I have rewritten Gcolor3 to a great extent, so something might have fixed this :)

[2015-07-19 21:17] Unia commented on #18
The ability to implement these shortcuts is here now. Before I go and add what I think are good keyboard shortcuts to switch between the stack pages, what would your preference be?

[2015-07-20 03:51] holomorph commented on #18
Just looking at gtk3-demo it looks like TAB to change context and arrow keys works as a way to move around, so perhaps that should be available (if it isn't already). I don't have any preference, though

[2015-07-20 15:00] Unia commented on #18
Apparantly I already implemented a keyboard shortcut a few months ago: use F9 to change stack pages.

Does that solve your issue?

[2015-07-20 15:45] holomorph commented on #18
I can't build master:
[code]

[2015-07-20 18:43] Unia commented on #18
D'oh. Fixed it with a force push. I fixed a typo to actually apply `AM_CFLAGS` from [common.mk](https://github.com/Unia/gcolor3/blob/master/common.mk) but I tested it with a cached build. It should work now.

[2015-07-20 22:38] holomorph commented on #18
Crashes ._.
[code]

[2015-07-21 17:17] krzema12 commented on #19
I have a problem compiling the newest version. After calling `./autogen.sh` (BTW, you should update it in the readme, there's still `./autogen`) and `make` I'm getting:

    make  all-recursive
    make[1]: Entering directory `/home/piotr/Desktop/gcolor3'
    Making all in src
    make[2]: Entering directory `/home/piotr/Desktop/gcolor3/src'
    make  all-am
    make[3]: Entering directory `/home/

[2015-07-21 18:54] Unia commented on #18
Should be fixed now.

[2015-07-21 18:56] Unia commented on #19
Are you sure you have the latest master? That issue arose yesterday but should be fixed now, see [this commit](https://github.com/Unia/gcolor3/commit/b8d8f866d87b4bee6536dd0f5bfe03b831720b7c).

Otherwise, check if you have some other flags overriding gcolor3's and adding `pedantic`.

[2015-07-21 23:05] holomorph commented on #18
Yay! Well F9 is there--is a keybind to quit feasible?

[2015-07-22 09:18] Unia commented on #18
Your window manager should provide a key binding to close applications. The advantage of using your wm for this is that it is the same key binding for all applications, across all toolkits.

Or is there a scenario that I'm missing?

[2015-07-22 20:28] krzema12 commented on #19
Right, I must have had a bit older commit.
After I pulled the newest one, I was getting another error:

      CC       gcolor3-gcolor3-application.o
    gcolor3-application.c: In function ‘gcolor3_application_init_accelerators’:
    gcolor3-application.c:113:3: error: implicit declaration of function     ‘gtk_application_set_accels_for_action’ [-Werror=implicit-function-declaration]
       gtk_app

[2015-07-27 14:26] lasers opened #22 "Improve the GUI"
I'm going to see if I will want to switch to gcolor3 after using gcolor2 for long time and was comparing the features between two apps. I wanted to share my feedback.

1) Reduce the size of gigantic textblocks? --- Red, Green, Blue and Color name
The textblocks are much bigger than the first column and that wasn't the case in gcolor2.

2) Implement the missing minus/plus buttons on Opacity textblo

[2015-07-28 09:02] Unia commented on #22
Thank you for your feedback.

The textblocks are much bigger than the first column and that wasn't the case in gcolor2.

This is not up to me. I use the standard (although deprecated) [GtkColorSelection](https://developer.gnome.org/gtk3/stable/GtkColorSelection.html) widget. You might be able to accomplish what you want by changing and/or editing your GTK+ theme.

I see the slider -- but it might

[2015-07-28 09:07] Unia commented on #19
Whoops! Sorry, I will update the minimum version required.

That is quite possible. Assuming you are still using Ubuntu, updating only `libgtk-3-dev` is indeed not enough. You will also have to update `libgtk-3-0`.

[2015-07-28 10:22] lasers commented on #22
No problem. I thought the first three ideas would be good improvements... I'm still not sure about O idea. If it's not possible, that's okay. It puts me at ease knowing that you can't do anything about the gigantic textblocks. It was indeed odd. Many thanks for gcolor3. :)

[2015-07-28 10:22] #22 closed

[2015-07-28 18:53] krzema12 commented on #19
I finally managed to compile and run gcolor3 - it works :)

(some update has just broken my installation of Ubuntu, so I won't be able to check anything in the following time...)

[2015-07-28 19:42] Unia commented on #19
Great! I'm going to close this issue then. Feel free to reopen or create a new issue if the issue returns.

[2015-07-28 19:42] #19 closed

[2015-07-30 09:34] Unia commented on #18
I'm closing this issue. Feel free to reopen or create a new issue if I indeed did miss a scenario! :)

[2015-07-30 09:34] #18 closed

[2015-08-13 17:11] breaker1 opened #26 "AUR Builds Missing"
The AUR was just upgraded to v4 and they didn't migrate any of the old packages. Managing packages is now done through a git repository. If you don't want to go through this process, I'd be happy to re-upload your old packages. They're still available at the following locations.

http://pkgbuild.com/git/aur-mirror.git/tree/gcolor3-git
http://pkgbuild.com/git/aur-mirror.git/tree/gcolor3

[2015-08-13 18:11] Unia commented on #26
Hello,

I am aware of the change, but have so far been unable to update my packages. I will do so soon!

[2015-09-01 13:25] breaker1 commented on #26
I recreated the aur packages. I can add you as a co-maintainer for the packages if you want to send me your username on AUR (just email the address in the PKGBUILD files)

[2015-09-01 13:25] #26 closed

[2015-09-01 18:52] Unia commented on #26
Thank you for taking the time to do this. I had not come around to it yet.

Can you change my info to "Jente Hidskes <hjdskes@gmail.com>? The email adres listed in the PKGBUILD at the moment is no longer in use. Also, the gcolor3 PKGBUILD has a double entry for the md5sums :)

[2015-09-02 20:21] breaker1 commented on #26
The double entry md5sums was there in the original PKGBUILD, but I removed that line and fixed your email in both gcolor3 and gcolor3-git.

[2015-09-07 03:58] carnager opened #27 "Delete button doesn't work"
In Saved colors window hitting the delete button has no effect at all.

[2015-09-07 08:29] Unia commented on #27
Can you elaborate a bit more on the precise actions you have taken? There are many ways to use the delete button :) In any case, I have not been able to reproduce your issue here.

I have, however, discovered another issue:
  * Saving colors without entering a name for them uses their hex value as key. However, GKeyFile ignores lines starting with `#`. A stupid mistake on my side.

[2015-09-07 16:12] carnager commented on #27
too late, it works now with latest git :)

[2015-09-07 16:12] #27 closed

[2015-09-09 20:11] Fnux opened #28 "Package for Fedora"
Hi ! I'm building a .rpm package for Fedora and planning to add it to [Fedy](https://satya164.github.io/fedy/). Are you okay with that ?

[2015-09-09 20:37] Unia commented on #28
Of course :) be sure to take the latest git as it solves an important issue (see the latest commit).

I plan on releasing a 2.0.1 or something soon, like this weekend - in case there is a policy or something I don't know about.

[2015-09-09 20:40] Fnux commented on #28
I just built the 2.0 [on copr](https://copr.fedoraproject.org/coprs/fnux/GColor3/).

[2015-09-11 10:38] Unia opened #30 "Output the selected color on stdout"
Just to track the suggestion made [here](https://bbs.archlinux.org/viewtopic.php?pid=1560908#p1560908).

[2015-09-11 10:44] Unia commented on #28
Awesome! Just some nitpicking, however:

1. Could you rename this to Gcolor3 instead of GColor3? It really is with a small c.
2. The page mentions the following:
[code]

Who are `the owner` and `this project`? Does it refer to you and this Copr repository, or to me and Gcolor3 as the project? Perhaps you can change the wording to make this more clear. In case `the project` is Gcolor3, could you pe

[2015-09-11 11:01] Unia commented on #28
FWIW, I'll release a new stable version once I have decided whether or not to implement #30 and to apply the rewording mentioned [here](https://bbs.archlinux.org/viewtopic.php?pid=1560908#p1560908).

In fact, could I perhaps get your opinion on the rewording issue?

[2015-09-11 16:22] Unia opened #31 "Rename `palette` to `chooser` or `picker`"
And perhaps rename `Saved colors` to `palette`...

[2015-09-12 05:37] Fnux commented on #28
Ok. I'm going to edit the copr page and contact the owner of the second repo today.

[2015-09-12 05:45] Fnux commented on #31
The actual naming is not a problem, but [this guy](https://bbs.archlinux.org/viewtopic.php?pid=1560908#p1560908) is right. I think you can change from `Palette` to `Selector`. However, I prefer `saved colors` than `Palette` for the second tab.

[2015-09-12 07:28] leigh123linux commented on #28
Hi,

Feel free to merge my packaging improvements to your repo

https://leigh123linux.fedorapeople.org/pub/SPECS/gcolor3.spec

packaging improvements
1. install files in the proper locations (rpm should never install files in /usr/local)

https://fedoraproject.org/wiki/Packaging:Guidelines#No_Files_or_Directories_under_.2Fsrv.2C_.2Fusr.2Flocal.2C_or_.2Fhome.2F.24USER

2. Fix Source tag (must be a

[2015-09-12 10:10] Unia commented on #28
Awesome to see you guys cooperate on this :+1: Is there anything I can do on my side to assist?

A formal package review.. does that mean Gcolor3 might make its way into the official Fedora repositories? That would be great!

[2015-09-12 10:11] Unia commented on #31
:+1: Will update everything probably later today.

[2015-09-12 10:20] Fnux commented on #28
In fact it's my first time using copr. Thank you for your help leigh. I'm going to follow your advices.

I will update the repo during the weekend.

[2015-09-12 17:13] #30 closed

[2015-09-12 17:21] #31 closed

[2015-09-12 17:32] Unia commented on #28
I just need updated translations before I can release v2.0.1.

[2015-09-12 18:31] Fnux commented on #28
I can provide the french translation.

[2015-09-12 18:32] Fnux commented on #28
Just tell me what I have to translate.

[2015-09-12 18:35] Fnux commented on #28
Oh. You already updated the english file. My bad.

[2015-09-12 19:20] Unia commented on #28
See the README for instructions on how to translate. In this case, once you have created the `fr_new.po` file, open it and fix the last two strings marked with `fuzzy` (those two translations will still use the word `palette`) and apply the new translation for `Picker`.

[2015-09-18 09:31] palob opened #33 "Unnamed saved colours don't get out of list when deleting"
Saved colours you didnt specify names for can't be deleted from the list of saved colours.

Then again those unnamed saved colours vanish after restart anyway no matter whether or not you attempted to delete them.
So are you even supposed to be able to save colours without specifying a name?

[2015-09-18 10:38] Unia commented on #33
I suspect you are not using the latest git version, where this should be fixed. Could you give that version a try if you indeed aren't using it?

[2015-09-18 11:10] palob commented on #33
You're right, I wasn't using the latest git and it has been fixed meanwhile :+1:

[2015-09-18 11:10] #33 closed

[2015-09-18 11:22] Unia commented on #33
Good to know :)

[2015-09-18 17:22] Unia commented on #28
Are you still going to do the french translation, @Fnux ? Only el, fr and sv are left before I can release a new version. I'll probably get the Swedish one done tonight.

Also, @Fnux @leigh123linux, how's everything going on the repository side?

[2015-09-18 17:28] Fnux commented on #28
Sorry for the delay. I had a lot to do this week and wasn't able to work on gcolor3. I will provide you the french translation by tomorrow.

[2015-09-18 18:44] Unia commented on #28
That's fine :) we all have other things to take care of, too. Looking forward to your PR!

[2015-10-01 07:32] Fnux commented on #28
Is the new version ready ?

[2015-10-01 11:53] Hjdskes opened #36 "Greek translation needs updating"
Check the README for instructions. Please locate and fix all strings marked `fuzzy` and find the one missing translation.

[2015-10-01 11:59] Unia commented on #28
Yep!

[2015-10-01 12:19] Unia commented on #28
Done: https://github.com/Unia/gcolor3/releases/tag/v2.1

[2015-10-01 12:33] Fnux commented on #28
Will update the copr repo by the next week.

[2015-12-14 15:18] Unia opened #37 "Ability to rename saved colors"
Suggested [here](https://bbs.archlinux.org/viewtopic.php?pid=1586133#p1586133).

[2016-01-01 23:00] Fnux commented on #28
Well, I'm not using Fedora anymore and I really don't have enough time... Can you remove the copr link from the REAME ? Sorry.

[2016-01-01 23:32] Unia commented on #28
Can't you find someone who can take it over from you?

[2016-01-10 13:46] Paviluf commented on #21
Still no interest for a Ubuntu PPA ?

[2016-01-10 18:29] Unia commented on #21
Noone has stepped forward, no.

[2016-02-08 18:33] bendavis78 opened #38 "Color picker does not seem to work"
Using Archlinux, tried the `gcolor3` package from AUR as well as `gcolor3-git`. When I click the eyedropper button, the mouse pointer doesn't change, and clicking anywhere else on the screen has no effect.

[2016-02-08 20:16] Unia commented on #38
I'm going to need more information than that. I just tried both packages on my own Arch Linux setup; both work as they should.

Can you give me more information, such as what desktop you are running? (Xorg/Wayland, window manager, compositor used, et cetera)

[2016-03-04 18:05] alex285 commented on #38
It doesn't  work under Wayland :/
https://plus.google.com/+WorldofGnomeOrg/posts/XxY7jBQ1KPc

Can we change the subject to "It doesn't work on Wayland"?

[2016-03-04 19:44] Unia commented on #38
Done.

I'm afraid that is an internal "bug" in GtkColorSelection; it is a deprecated widget, after all. While it doesn't use any XLib functions directly, it seems that the functionality it needs has not been implemented (yet?) in the GDK/GTK Wayland backend. I don't think that it ever will, so when Wayland gets a more prominent position I'll have to see if I can get this working myself.

[2016-03-04 19:46] Unia commented on #38
You're Alex from WorldofGnome, right? It would be great if you could mention that Gcolor3 needs updated translations :smile: Instructions can be found in the [README](https://github.com/Unia/gcolor3/blob/master/README.md). I recently removed my Google+ account so I can not comment myself.

[2016-03-04 23:24] alex285 commented on #38
@Unia maybe you can ask on GTK+ IRC and point you in some other solution.

I added the translation info, but too late. it wont have much of effect now. G+ posts have 5-6hrs activity :)

[2016-03-05 12:40] Unia commented on #38
Thanks anyway :)

[2016-04-02 19:53] Defman21 opened #41 "Ubuntu 16.04 building error: msgfmt"
When I'm trying to build gcolor3, I get this error:
[code]

How can I fix it?

[2016-04-03 10:41] #41 closed

[2016-04-03 10:42] Unia commented on #41
This issue is resolved. Thanks for reporting it :)

[2016-04-24 13:59] khurshid-alam commented on #21
Deb is available at https://launchpad.net/~varlesh-l/+archive/ubuntu/ubuntu-tools

[2016-04-24 18:31] Unia commented on #21
Thanks! Do you know how fast they respond to updates?

[2016-06-14 07:10] mardukbp commented on #30
Thanks to this feature, it is possible to use gcolor3 as color picker in Emacs. Thank you!

[2016-06-14 07:15] mardukbp opened #42 "Magnifying glass for accurate color selection"
Using the color picker to select the color from some text is very difficult due to the thinness of letters. It would be great to show the region around the cursor magnified in gcolor3's window. This feature is present in OS X's digital color meter.

[2016-06-14 08:05] Unia commented on #42
Would you happen to know how to implement this? I have no idea if there is a library that allows Gcolor3 to implement this.

I'm busy with other things at the moment, but I'll leave this open so that I don't forget to look into it later.

[2016-06-14 11:56] mardukbp commented on #42
Sorry, I do not know. But I found [Elicit](https://github.com/rephorm/elicit-gtk): A color picker written in Python + Gtk that does exactly this. I think you might able to learn from the code how to do it.

[2016-07-20 13:16] phw opened #43 "Allow copying saved colors to clipboard"
It would be nice if it was easy to copy saved colors easily to the clipboard, e.g. by selecting them and hitting Ctrl-C, or maybe with a context menu "copy" action.

[2016-07-22 13:59] Unia commented on #43
Good suggestion! I'll look into this the next few days :)

[2016-07-26 16:05] Unia commented on #43
Can you test the `copy-color` branch? Specifically commit c8daf910daccfdee9bc9a2f2492bda92e45cb28f. I think that does what you requested.

[2016-07-26 16:06] phw commented on #43
I will test it, but only sometime next week. Please ping me should I forget ;)

[2016-08-01 18:10] #37 closed

[2016-08-01 18:41] Unia commented on #43
I have reworked this feature, see b48c0118b5fb2591bd15fd1bb9f84dca27ab8849.

@phw Have you found the time to test this yet?

[2016-08-01 19:05] Hjdskes opened #45 "Provide a GtkShortcutsWindow"

[2016-08-01 19:06] Hjdskes opened #46 "Kill use of intltool"

[2016-08-01 19:06] Unia opened #47 "Provide appdata for Gcolor3"

[2016-08-03 11:59] phw commented on #43
Ok, tested it. Works as expected, like it very much :+1:

From a user interface point I think there should be a way to discover this functionality, even though that's something I don't need for my usage. Maybe add a context menu with "Copy", "Rename" and "Delete"?

Another option would be to add one of those new Gtk3 keyboard shortcut help screens that show up with `Ctrl` + `?` by default. That wa

[2016-08-03 17:27] Unia commented on #43
That's good to hear, I'll merge this today or tomorrow.

See the `shortcuts` branch, I'm already working on bringing a `GtkShortcutsWindow` to Gcolor3 :) Also see the milestone for version 2.3.

[2016-08-05 09:07] #43 closed

[2016-08-05 10:17] Unia commented on #47
Work is now ongoing in the `appdata` branch.

[2016-08-07 09:51] #47 closed

[2016-08-10 08:56] Unia opened #48 "Update translations for version 2.2"
The following translations still require an update:

* [x] de_DE;
* [ ] el (see #36);
* [x] en_GB;
* [x] fr;
* [ ] gl;
* [x] nl;
* [x] sr;
* [x] sv;
* [x] uk

[2016-08-10 09:01] Unia commented on #48
Dutch updated with df03af8222b618301f6112bcf9e836721f25ba96.

[2016-08-10 09:19] Unia commented on #48
British English updated with 0f50333c780a1939a1afd476a80910ea270290a0.

[2016-08-11 15:50] Unia commented on #48
Ukrainian updated with #49.
Serbian updated with #50.

[2016-08-12 07:58] Unia commented on #48
German updated with #51.

[2016-08-14 14:43] Unia commented on #48
French updated with #52.

[2016-08-17 20:31] Unia commented on #48
Swedish updated with 28757c9d68913475f27804d76bc445eaf7334a68.

[2016-08-20 14:15] Unia commented on #48
Releasing 2.2 without updates to el and gl.

[2016-08-20 14:15] #48 closed

[2016-08-20 14:28] Hjdskes opened #53 "Galician translation needs updating"
Check the README for instructions. Please locate and fix all strings marked fuzzy and find the one missing translation.

[2016-08-30 12:50] Fnux commented on #28
I updated the https://copr.fedorainfracloud.org/coprs/fnux/gcolor3/ repo.

[2016-08-30 13:12] Unia commented on #28
Thanks!

[2016-08-31 19:36] Fnux commented on #28
Feel free to mail me if I miss a release ;)

[2016-08-31 19:36] #28 closed

[2016-10-27 10:45] khurshid-alam commented on #21
@Hjdskes If you want to setup your daily-build ppa I can help you with that.

[2016-10-31 11:04] Hjdskes commented on #21
@khurshid-alam I do not want to maintain such a ppa myself and besides, daily builds for Gcolor3 are unnecessary since it is not regularly updated. Thanks for the offer, though.

[2016-11-25 12:35] orschiro opened #54 "Site not found"
![image](https://cloud.githubusercontent.com/assets/170947/20625514/14a46848-b314-11e6-8f3f-69dea805cf47.png)

![image](https://cloud.githubusercontent.com/assets/170947/20625516/1851f8e8-b314-11e6-9cdc-f5e0effb6a4c.png)

[2016-11-25 12:37] orschiro commented on #54
![image](https://cloud.githubusercontent.com/assets/170947/20625553/587bf220-b314-11e6-9c10-ea4176f8a78d.png)

[2016-11-25 12:40] orschiro opened #55 "Unknown application name"
System: Ubuntu 16.10
Version: 2.2. compiled from source

![image](https://cloud.githubusercontent.com/assets/170947/20625606/b4467a76-b314-11e6-8158-341434ff122e.png)

![image](https://cloud.githubusercontent.com/assets/170947/20625609/bf256e48-b314-11e6-9b0b-318d76c0618b.png)

[2016-11-25 12:55] Hjdskes commented on #54
Yes, I changed my username. The new website is located on hjdskes.github.io/projects/gcolor3. I still have to update this and other projects to reflect this. I'm not sure if/how I should backport this change, as well.

[2016-11-25 12:56] Hjdskes commented on #55
Do you happen to know how Unity detects the application name? I set it using `g_set_application_name`: https://github.com/Hjdskes/gcolor3/blob/master/src/gcolor3-application.c#L121

[2016-11-25 15:18] orschiro commented on #55
Unfortunately not. :-(

A quick Google Search does not yield any useful results.

https://www.google.es/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=ubuntu+unity+menu+application+name

On Fri, Nov 25, 2016 at 1:56 PM, Jente Hidskes <notifications@github.com>
wrote:

[2016-11-30 14:01] orschiro opened #56 "CTRL+C not working for color name field"
Hi @Hjdskes,

The keyboard shortcut CTRL+C does not work for the color name field in version 2.2 on Ubuntu 16.10.

![image](https://cloud.githubusercontent.com/assets/170947/20755072/ee3206ea-b70d-11e6-986c-9d46c111a51e.png)

[2016-11-30 14:02] orschiro commented on #56
The menu entry does work.

![image](https://cloud.githubusercontent.com/assets/170947/20755103/0b262042-b70e-11e6-818d-790792787be4.png)

[2016-11-30 14:28] Hjdskes commented on #56
Confirmed. However, this text entry is provided by [GtkColorSelection](https://developer.gnome.org/gtk3/stable/GtkColorSelection.html) and is thus not under my control.

[2016-11-30 14:28] #56 closed

[2016-11-30 14:43] orschiro commented on #56
Thank you.

Should I submit a bug report against GtkColorSelection?

On Wed, Nov 30, 2016 at 3:28 PM, Jente Hidskes <notifications@github.com>
wrote:

[2016-11-30 16:25] Hjdskes commented on #56
That won't help as it is a deprecated widget. In fact, I believe it is already removed in what is to be gtk+ 4.0

[2016-11-30 16:42] orschiro commented on #56
I see, thank you. I think we can close this issue then.

On Wed, Nov 30, 2016 at 5:25 PM, Jente Hidskes <notifications@github.com>
wrote:

[2016-12-15 12:31] arsaber101 commented on #55
The value of the `Name` key in `gcolor3.desktop` file has to be the same as the value of the `Exec` key :

[code]

Ref : https://mail.gnome.org/archives/gtkmm-list/2014-November/msg00039.html

[2016-12-15 14:49] phw opened #57 "Make saved colors sortable"
The saved colors feature is really helpful for me. I use it to store commonly used colors for various projects. What is missing for me is the ability to sort this list. Currently the colors are displayed in order how they were added, but I usually want to sort them by project and/or importance.

[2016-12-15 16:47] Hjdskes commented on #55
Thanks for the information! @orschiro Can you test if e.g. Eye of GNOME or Nautilus also display this behavior? [Both](https://git.gnome.org/browse/eog/tree/data/eog.desktop.in.in) [do](https://git.gnome.org/browse/nautilus/tree/data/org.gnome.Nautilus.desktop.in) not have the `Name` key equal to its `Exec` key and I couldn't find any Ubuntu specific patches to change this.

[2016-12-15 16:48] Hjdskes commented on #57
Good suggestion, it's on the list. Thanks :smile:

[2016-12-15 16:51] orschiro commented on #55
Nautilus shows this:

![image](https://cloud.githubusercontent.com/assets/170947/21233359/2223bb3c-c2ef-11e6-9959-f1f5d2f85aab.png)

[2016-12-15 17:12] Hjdskes commented on #55
So unless my search didn't show the correct patches, there is something else going on here...

[2016-12-15 18:00] arsaber101 commented on #55
It might be related to a specific Ubuntu/Unity key you find in both Eye of GNOME and Nautilus `.desktop` files, as well as many others `.desktop` files where `Name` and `Exec` are different (evince, gedit, file-roller, gimp, orca, totem). The key is `X-Ubuntu-Gettext-Domain` (for internationalization) but its value are always the same as the `Exec` key. Evince, for exemple :

[code]

[2016-12-15 18:44] Hjdskes commented on #55
@orschiro Can you try the [unity-name](https://github.com/Hjdskes/gcolor3/tree/unity-name) branch to see if this indeed resolves the issue?

[2016-12-15 18:48] orschiro commented on #55
Still the same. :-(

[2016-12-15 19:36] Hjdskes commented on #55
What happens if you change `_Name=Color picker` to `_Name=@PACKAGE@` in `data/gcolor3.desktop.in.in`?

[2016-12-15 22:23] arsaber101 commented on #55
Compiled the unity-name branch on ubuntu 16.10 and it works for me.

![capture du 2016-12-15 23-14-50](https://cloud.githubusercontent.com/assets/14233958/21244309/5d683212-c31d-11e6-954d-ef4cb69f61a0.png)

[2016-12-16 07:57] Hjdskes commented on #55
@orschiro Did you `make install` to make the translations available? I think I'm going to merge the `unity-name` branch as it seems to work fine for @arsaber101. If your issue persists we'll have to look into it more.

[2016-12-16 09:20] orschiro commented on #55
Alright, go ahead and merge it.

If my error will persist, then I am getting back to you.

Maybe I did just something wrong. :-)

On 16/12/16 08:57, Jente Hidskes wrote:

[2016-12-16 13:47] Hjdskes commented on #55
ab7e693a1895e27c41c565c832d5cfc780f5d098

[2016-12-16 13:47] #55 closed

[2017-01-08 23:04] BobbyBabes commented on #54
Can't you just add a redirect to the ``<head>`` section of the page for now ?
[code]

[2017-01-08 23:12] Hjdskes commented on #54
Seems quite unfair towards GitHub to reserve a username just for that purpose. I just need to kick myself into changing those projects. Perhaps one of these days...

[2017-01-08 23:14] BobbyBabes commented on #54
You're too honest for this world.
Multiple a/c are allowed as far as I know.

[2017-04-21 15:56] palob commented on #38
It's possible to take screeeenshots in a Wayland session so there has to be a way to facilitate colour picking.

[2017-04-21 16:04] Hjdskes commented on #38
If you're referring to GNOME Screenshot, that communicates with GNOME Shell [over dbus](https://github.com/GNOME/gnome-screenshot/blob/99022a6e5cc6e7c29eb05f0319f70f291ebed5ea/src/screenshot-area-selection.c#L348) to get the screenshot taken. AFAIK, GNOME Shell does not have a similar interface to pick colors and hence there is not much we can do.

If you're saying we should take a screenshot and

[2017-04-21 16:20] palob commented on #38
Yeah, the screenshot workaround is what I had in mind.

[2017-04-21 16:22] palob commented on #38
Which upon further thinking isn't even possible. I suspect there is no way for an app running in a Wayland compositor to know the cursor coordninates.

[2017-05-03 12:10] Hjdskes opened #59 "Port to GSettings as opposed to ~/.rgb.ini?"

[2017-07-10 18:53] palob commented on #38
I've stumbled upon this GIMP bug report https://bugzilla.gnome.org/show_bug.cgi?id=780375.
According to the maintainer there is a Wayland picking backed. Maybe you can ask on GIMP IRC.

[2017-07-10 19:16] Hjdskes commented on #38
I don't see any mention of a Wayland backend yet but I've subscribed to the bug report to receive any updates. Thanks for linking me!

[2017-08-03 10:54] Fnux opened #60 "invalid : gcolor3.appdata.xml.in"
When running appstream-util for validation of `gcolor3.appdata.xml` :
[code]

Aside from the broken link, is there a reason for those two files not to be included in the repo ?

[2017-08-03 11:30] Hjdskes commented on #60
Thanks for the report. I'll add the screenshots to the repo this weekend.

[2017-08-05 09:09] #60 closed

[2017-08-09 12:43] Fnux commented on #60
`https://github.com/Hjdskes/gcolor3/blob/master/saved.png` is not an image !

Moreover, I don't think that an url to the master branch is a 'safe' place... ?

[2017-08-09 13:01] Hjdskes commented on #60
I accidentally committed this link but I fixed it with an amend; are you sure you're checking the most up-to-date version? The version in master shows the correct urls: https://github.com/Hjdskes/gcolor3/blob/master/data/gcolor3.appdata.xml.in#L32

Maybe not with respect to possible changes to the UI in future versions, but AFAIK screenshots per version aren't supported by the appdata format so th

[2017-08-10 14:24] bartoszek opened #61 "Monitor color profile effects picker behavior."
I recently noticed, that when monitor color profile is enabled in gnome-settings I got misleading results of the color picker. Is this intended behavior, shouldn't there be an option to disregard color correction when probing colors?

[2017-08-10 14:59] Hjdskes commented on #61
I think there's something to say for both, i.e. I think that if you adjust colors on your monitor you'd want to know which original color results in that modified color. On the other hand, I can also imagine that you want the original color.

In any case, this isn't under my control as I simply use a widget provided by Gtk to do the heavy lifting. It's likely that I'll need to fork it into Gcolor3

[2017-08-10 16:35] bartoszek commented on #61
It looks like GPick reports correct color even with profile enabled. Maybe there is a good place to find some easy fix for color profiles.
_Sadly GPick have problem with mouse cursor, showing color of a pointer instead of pixel under it :/_

[2017-08-10 16:37] Hjdskes commented on #61
Thanks for the pointer, I'll take a look when fixing this issue :)

[2017-08-11 16:22] Fnux commented on #60
Well, if you decide to restructure and move things around, change names or whatever. I would think it's better to depend on a tag/commit ?

[2017-08-13 22:06] qwertychouskie opened #62 "Ubuntu package"
It seems `gcolor2` was removed from the Ubuntu 17.10 repos, it would be nice to have this as a replacement.

[2017-08-16 20:19] Hjdskes commented on #62
Packaging gcolor3 isn't up to me; see #21 for a similar issue. Maybe you can bring this up with the Ubuntu packagers, I don't use Ubuntu so I don't know the process of getting things packaged. If there's anything I can do to assist with packaging, let me know!

[2017-08-16 20:19] #62 closed

[2017-08-17 13:00] c72578 opened #63 "License of gcolor3: GPLv2 or GPLv2+"
There is a difference between the license in the LICENSE file, which is GPLv2 and some files of the project, which have a license comment on top (GPLv2+):
[code]
src/gcolor3-application.h
src/gcolor3-window.h
src/gcolor3-color-store.h
src/main.c
src/gcolor3-application.c
src/gcolor3-color-store.c
src/gcolor3-window.c

Could you please check and harmonize?
Thanks

[2017-08-28 19:14] Hjdskes commented on #63
As far as I know this is the correct way to do this. If it's not, can you point me to a source that explains me how to fix that? There is no special LICENSE file for "GPLv2+".

[2017-08-28 19:16] Hjdskes commented on #60
Sorry for the late reply. You're right; the latest commit makes the screenshot URLs point to a specific commit.

[2017-08-31 10:23] c72578 commented on #63
Thanks for having a look and confirming "GPLv2+".

[2017-08-31 10:23] #63 closed

[2017-09-12 12:50] dasnoopy opened #64 "CTRL-C / CTRL-V doesn't work properly."
Hi, just noticed this issue since a while using Gcolor3 compiler from git master on Archlinux.

1)  Open the app and choose any color you want
2) highlight the content of "color name" field
3) press  CTRL-C / CTRL-V (via keyboard)  to copy/paste the  the value e.g. in gedit : the value #BCBCBC is always pasted insted to paste the current selected color value

Using mouse and right menu copy/paste

[2017-09-12 12:55] dasnoopy commented on #64
Just discovered that the value pasted is always the first color saved in the "saved colors" list : e.g. #BCBCBC was the first color in my list, then after delete it, the new first color was #747474 : trying to use ctrl-c / ctrl-v the #747474 is always pasted

[2017-09-12 13:41] Hjdskes commented on #64
Thanks, that'll help debugging. I'm a little preoccupied at the moment so don't expect a fix soon.

[2017-10-13 12:17] netzgestaltung commented on #38
this now starts getting interessting while many distributions start switching to wayland as default session and not even gimp supports color picking.

[2017-10-13 19:00] qwertychouskie commented on #38
Pipewire might be good to look at here:

https://blogs.gnome.org/uraeus/2017/09/19/launching-pipewire/
http://pipewire.org/

[2017-10-15 10:45] Hjdskes commented on #38
Which part exactly? AFAIK Pipewire is for multimedia processing, not quite what we need here.

[2017-10-15 10:49] lightonflux commented on #38
From their wiki:
https://github.com/PipeWire/pipewire/wiki

The framework is used to build a modular daemon that can be configured to:

 * be a low-latency audio server with features like pulseaudio and/or jack
 * a video capture server that can manage hardware video capture devices
and provide access to them
 * a central hub where video can be made available for other
applications such as the gno

[2017-10-19 17:01] ktaylora opened #65 "Crashes on Color Select on Default Ubuntu 17.10"
Builds just fine, but when you go to click on the dropper icon to select a color, it causes gnome to crash.

[2017-10-19 17:28] julianrichen commented on #65
Ubuntu 17.10 now uses GNOME with Wayland right? Probably related to #38? If you login using Xorg do you get the crash?

Also you say that GNOME crashes, did you mean to say gcolor or does it really crash GNOME Shell?

[2017-10-19 18:08] ktaylora commented on #65
Ah. Yes, it's on Wayland. And this is probably a duplicate of #38. And yeah, it crashes the whole gnome shell.

[2017-10-19 18:23] Hjdskes commented on #65
The whole shell is a new one... makes it a bit more pressing. As a single developer of a small package I can't do much though, we depend on someone else to make and implement a protocol that gcolor3 can use.

I suppose if the shell now crashes I should show a warning that gcolor3 doesn't work instead of the color picker.

[2017-10-19 18:40] ktaylora commented on #65
That's understandable. It is a cool app, btw. You'd think that the GNOME devs would roll this into the default color chooser interface for Gnome 3. It's a pretty basic tool that just about every web developer will use. But, so it goes. I guess it's screenshots + gimp for getting color hex codes for now. ;-)

[2017-10-19 20:24] netzgestaltung commented on #65
I stuck with the xorg session right now - how to contact Gnome Devs?

[2017-10-19 20:37] ktaylora commented on #65
@netzgestaltung , https://wiki.gnome.org/Community/GettingInTouch/

[2017-10-19 20:47] netzgestaltung commented on #65
i wrote now to the gnome mailing list, lets see what happens

[2017-10-25 09:24] netzgestaltung commented on #65
its now here: https://mail.gnome.org/archives/gtk-app-devel-list/2017-October/msg00038.html

[2017-10-25 10:13] netzgestaltung commented on #65
this is the answer i got: https://mail.gnome.org/archives/gtk-app-devel-list/2017-October/msg00039.html

does it help in any ways?

[2017-10-25 12:16] netzgestaltung commented on #38
hi - i got an aswer from the gnome-apps-devel mailing list, wich i decided to contact because of #65  here: https://mail.gnome.org/archives/gtk-app-devel-list/2017-October/msg00041.html

it says:

[2017-10-25 14:54] Hjdskes commented on #38
That answer is pretty much what I already expected, but thanks for taking the initiative. In the coming weeks I'll have some more time to spend on this, and this has motivated me to give it a try :)

[2017-10-25 15:44] netzgestaltung commented on #38
that was the purpose ;-) - glad it helped!

[2017-11-01 10:42] Hjdskes commented on #38
Bug report opened: https://bugzilla.gnome.org/show_bug.cgi?id=789756.

[2017-11-01 10:43] Hjdskes opened #66 "Switch to Meson"
Most of GNOME is switching, and Meson really is much simpler to maintain.

[2017-11-01 16:15] Hjdskes commented on #65
@ktaylora @netzgestaltung I just pushed a branch [`fix/wayland-crash`](https://github.com/Hjdskes/gcolor3/tree/fix/wayland-crash) where I have imported `GtkColorSelection` from GTK+ into Gcolor3 to make the picker button insensitive when Gcolor3 is running on Wayland. Can you (preferably both) test if this solves the issue for you?

Importing it was coming sooner or later anyway, as the widget has

[2017-11-02 00:05] r3b311i0n commented on #65
@Hjdskes Works for me; colour picker is disabled and a tooltip pops up.

* Arch Linux
* Gnome 3.26.2
* GTK 3.22.25
* Wayland 1.14.0

[2017-11-02 10:27] #65 closed

[2017-11-02 10:28] Hjdskes opened #68 "Remove deprecated API from Gcolor3ColorSelection"
As per #67, there is still some deprecated API usage in Gcolor3ColorSelection that should be updated. Likewise, we can probably make use of some newer macros to define the widget, and we can possibly do away with a separate alpha property now that it uses GdkRGBA.

[2017-11-02 10:29] Hjdskes opened #69 "Import GtkHSV"
This deprecated widget is used by Gcolor3ColorSelection and has also been removed from GTK+ master.

[2017-11-02 10:30] Hjdskes commented on #65
Thanks @r3b311i0n!

[2017-11-02 11:34] netzgestaltung commented on #65
Hi,

i switched to fedora(korora) yesterday and installed via crop repo - i am not used to compile something, so i dont know how to test. Sorry.

[2017-11-03 02:05] netzgestaltung opened #70 "Gcolor icon"
Hi,

i have a SVG  version of the original gcolor2 icon, just in case there can be usage for it, its downloadable here: https://office.netzgestaltung.at/index.php/s/YU4UfU1IrnkZKHx

greets, tom

[2017-11-07 14:19] Hjdskes commented on #70
Thanks, but I don't think there's a need for that. I am happy with the current icon, although I am open for improvements. In any case, I don't want to have an icon that is too similar to gcolor2's, which in turn is quite similar, if not identical, to GTK+'s.

[2017-11-07 14:19] #70 closed

[2017-11-10 12:02] Hjdskes opened #71 "Add a Flatpak build"
And perhaps add Gcolor3 to Flathub.

[2017-11-16 08:43] netzgestaltung commented on #70
i dont need to change the current icon either but i just wanted to share it on the right place, as i dont have any other usage for it ;-)

[2017-11-19 14:25] noscript opened #73 "Picking anywhere gives #FFFFFF"
My setup: x11 + lightdm

[2017-11-26 06:49] dasnoopy commented on #73
happens here too, after recent commits on 01/02 Nov : before that date pick color worked fine..
btw, if could help, starting gcolor3 from a terminal session, when pick a color, appear this error:

`(gcolor3:2006): Gtk-CRITICAL **: gtk_rgb_to_hsv: assertion 'r >= 0.0 && r <= 1.0' failed
`

X11 and gnome 3.26.2 (archlinux).

[2017-11-26 15:45] Hjdskes commented on #73
Thanks for the reports, I will look into it.

[2017-12-07 14:16] Hjdskes commented on #38
There's an API we can use for KDE/KWin: https://bugzilla.gnome.org/show_bug.cgi?id=780375#c17.

[2017-12-11 00:40] netzgestaltung commented on #38
Gimp news look Promising: https://git.gnome.org/browse/gimp/tree/NEWS?id=a0b21446912a7c7edc12e9f1deb65a97c7abdffe

not ready yet but the problem is on the roadmap

[2017-12-17 23:17] netzgestaltung commented on #38
another related news: https://www.phoronix.com/scan.php?page=news_item&px=GIMP-FreeDesktop-Screenshot-API

[2018-01-10 03:10] thebunnyrules commented on #38
In the mean-time, I'm taking screenshots and picking the color via gimp.

[2018-01-10 10:46] palob commented on #38
But not from outside GIMP's own window I suppose. GIMP still uses GTK2 and as such doesn't run natively on Wayland btw.

[2018-01-10 11:08] Hjdskes commented on #38
Opening said screenshot **inside** GIMP to pick colors works, @palob.

[2018-01-10 11:12] netzgestaltung commented on #38
i stuck on gcolor2 and X11

[2018-01-19 10:45] #53 closed

[2018-01-19 10:45] Hjdskes opened #78 "Update copyright line in all .po files"
See #76.

[2018-01-24 20:23] Hjdskes commented on #54
The rename has taken place and will be in the upcoming 2.3 release. I'm closing this.

[2018-01-24 20:23] #54 closed

[2018-01-24 21:11] #69 closed

[2018-01-24 21:12] Hjdskes opened #80 "Remove deprecated API from Gcolor3HSV"
There is still some deprecated API usage in Gcolor3HSV that should be updated. Likewise, we can probably make use of some newer macros to define the widget.

[2018-02-03 01:00] Swedneck opened #81 "Clicking color dropper button under wayland gets me kicked back to GDM."

[2018-02-03 03:16] Hjdskes commented on #81
See #38.

[2018-02-03 03:16] #81 closed

[2018-02-07 02:59] pkkid commented on #73
For what it's worth the code is breaking here; In my case the color red is being passed in with a double value of 6682.000000.

https://github.com/Hjdskes/gcolor3/blob/master/src/gcolor3-color-selection.c#L1711

[2018-02-11 09:20] bil-elmoussaoui commented on #71
I can work on this if you want? :)

[2018-02-11 11:11] Hjdskes commented on #71
See #72! We're getting there, but feel free to jump in and help!

[2018-02-25 15:27] Hjdskes commented on #73
This is fixed in e310a62 thanks to @pkkid :)

[2018-02-25 15:27] #73 closed

[2018-02-25 16:14] Hjdskes commented on #71
Fixed in #72.

[2018-02-25 16:14] #71 closed

[2018-02-26 08:35] Hjdskes opened #84 "If no saved colors exist before running, no errors should be thrown"
Currently, an error is thrown about a missing group:

[code]

This is harmless, but might be confusing.

[2018-05-01 21:41] ljubacanoa opened #85 "Fedora Copr repo issue"
For some reasons, after upgrade to F28, I have "Failed to synchronize cache for repo 'fnux-gcolor3', disabling.".
I removed it, than enabled via command line again and same message.

[2018-05-02 07:00] Hjdskes commented on #85
@Fnux, can you fix this?

[2018-05-02 07:45] Fnux commented on #85
I will take a look this afternoon (CET).

[2018-05-02 10:13] Fnux commented on #85
The package failed to build for F28, using the tarball for version 2.2:

[code]

@Hjdskes, do you see an obvious fix ? The compile flags are provided by the distribution and I don't want to change them. The ideal would be to include a patch in the package.

[2018-05-02 11:54] Hjdskes commented on #85
I'll take a look at it soon. I suppose I will merge the Meson PR, fix this and release a new version that you can package for F28.

[2018-05-03 08:13] pelegm commented on #57
In what file/db are the colours saved? Can one manually add/remove named colours without entering the gtk app?

[2018-05-06 16:36] pelegm commented on #57
Thank you for the information!

[2018-05-09 17:25] orschiro commented on #64
I have the same as @diamondburned on Fedora 28 with version 2.2. Pressing Ctrl + c on the keyboard doesn't copy it. Right mouse click approach works.

Can this be fixed easily @Hjdskes?

[2018-05-16 16:43] prurigro opened #86 "Copying with ctrl+c in gnome always copies #574636"
Regardless of the colour selected in the picker, highlighting and hitting ctrl+c will copy `#574636` to the clipboard. Right clicking and selecting `copy` will copy the correct colour to the clipboard. This has been happening since I started using the gcolor3 (at least a year).

OS: Arch Linux
Desktop: Gnome 3.28 (this also happened on 3.26 and 3.24)

Let me know if there's anything I can do to he

[2018-06-19 06:19] Fnux commented on #85
@Hjdskes any progress on the new release ? I guess I can take a look next week but I never played with GTK before.

[2018-06-25 18:08] Hjdskes commented on #85
I'm sorry, I really do not have much time to work on Gcolor3 at the moment. Regarding the error, you can try a wrapper function `void destroy(GtkWidget *widget, gpointer user_data)` which calls `gtk_widget_destroy(widget)`, i.e.

[code]

[2018-06-26 15:29] Fnux commented on #85
I rebuilt the package with a simple patch: https://copr.fedorainfracloud.org/coprs/fnux/gcolor3/build/771049/

You can now sync the repo on F28/rawhide(=F29).

[2018-06-26 15:30] Fnux commented on #85
@Hjdskes, you can close the issue.

[2018-06-26 15:47] Hjdskes commented on #85
I'll keep it open as a reminder to include the workaround.

[2018-06-27 18:18] alex285 opened #87 "Add it to Flathub"
Hello!
Is it possible to add this to Flathub?

[2018-06-28 11:50] Hjdskes commented on #87
There is already a Flatpak manifest, but that currently builds from master. If I understand correctly, Flathub requires Flatpaks to build from stable branches or tarballs.

A new release is almost done, but at the moment I have little time to get it completely done. At that point though, we can publish it on Flathub.

[2018-06-29 09:35] alex285 commented on #87
super! thanks!

[2018-06-29 18:21] Hjdskes opened #88 "Start working towards GTK+ 4"
Especially the imported widgets from GTK+ 3 will need a lot of work.

[2018-07-19 09:48] TomaszGasior opened #89 "Non-CSD version"
Please add the version without CSD for users of classic desktops like XFCE. It could be activated when $XDG_CURRENT_DESKTOP =/= "GNOME" for example.

[2018-07-19 09:49] TomaszGasior opened #90 "Building error"
When I tried to install `gcolor3-git` (which uses master) from AUR on Arch Linux:
[code]

[2018-07-19 10:14] Hjdskes commented on #89
Sorry, but that is too much work at the moment. I'd accept a patch doing this work, though.

[2018-07-19 10:14] #89 closed

[2018-07-19 10:33] Fnux commented on #90
Similar to #35. You can use [this patch](https://fedorapeople.org/cgit/fnux/public_git/rpm-gcolor3.git/tree/gcolor3-2.2-cast_error.patch) in the meantime.

[2018-07-19 10:39] Hjdskes commented on #90
You mean #85.

[2018-07-19 11:03] TomaszGasior commented on #90
Can't you just fix it in the application?

[2018-07-19 12:07] Hjdskes commented on #90
Yes, once I get time. This is workaround until then.

[2018-07-27 15:33] julianrichen commented on #38
Color Picker is currently being added in `xdg-desktop-portal` which should make is easier to work under flatpak:

https://github.com/flatpak/xdg-desktop-portal/pull/202

Assuming you are using `gnome-shell` with the color picker patches:

https://gitlab.gnome.org/GNOME/gnome-shell/commits/wip/fmuellner/color-picker

[2018-08-06 16:59] jtojnar commented on #64
The issue is that there is a global action associated with <kbd>ctrl</kbd>-<kbd>c</kbd>:

https://github.com/Hjdskes/gcolor3/blob/c011b013ec8221a697df62158b48fa87c9e6a42f/src/gcolor3-application.c#L100

We could disable it like this:

https://github.com/jtojnar/gcolor3/commit/958479adaf566c0150d4e42e32a1b4100195f048

But then there is the same issue as with `delete` action, that needs to be fixed

[2018-08-12 19:54] #66 closed

[2018-08-12 20:05] Hjdskes commented on #46
This is done in #83.

[2018-08-12 20:05] #46 closed

[2018-08-12 20:06] Hjdskes commented on #36
Closing this, as it is unfeasable to keep such issues up to date.

[2018-08-12 20:06] #36 closed

[2018-08-12 20:16] #90 closed

[2018-08-12 20:16] Hjdskes commented on #85
Fixed in 1f84777, closing.

[2018-08-12 20:16] #85 closed

[2018-08-12 20:26] Hjdskes commented on #84
On second thought, this is rather hard to fix without writing some setting after first launch and checking this on every run. That's a lot of work for a harmless error message.

We can do away with this when we switch to a GSettings backend, but that's another issue: #59.

[2018-08-12 20:26] #84 closed

[2018-08-12 20:36] #78 closed

[2018-08-12 20:43] Hjdskes commented on #64
Thanks for looking into this, @jtojnar. I just quickly tried your branch and everything seems to work fine. What is the rabbit hole you're describing?

[2018-08-12 20:58] jtojnar commented on #64
Well, maybe disabling the action on [`editing-started`](https://developer.gnome.org/gtk3/stable/GtkCellRenderer.html#GtkCellRenderer-editing-started) and re-enabling it on `editing-canceled` would really be enough, but more likely, there is something else I am missing. I can fix this instance, and others as we discover them, but perhaps there is a better way.

[2018-08-21 13:17] Hjdskes commented on #38
Seems like all the bits are now in place to provide a color picker on at least GNOME Shell and KDE:

1. https://gitlab.gnome.org/GNOME/gnome-shell/merge_requests/171
2. https://github.com/flatpak/xdg-desktop-portal/commit/e9a1d29c3c16b664eaa1478fa7e9f5ba1a9bb0e9
3. https://github.com/flatpak/xdg-desktop-portal-gtk/commit/0b30bd3e67432ae79e3e8cb78333f4ba56795a07
4. https://github.com/KDE/xdg-deskto

[2018-08-25 16:50] Hjdskes opened #95 "Add a better backend for Gcolor3ColorStore"
Right now, the store just has a `GKeyFile` in memory. This isn't ideal anymore now that it implements the `GListModel` interface, because we need to iterate all colors in the key file linearly every time we add, remove or rename a color. This is a problem mostly when renaming (for the other cases, the user probably won't notice a performance hit), where we need to calculate the position of the ren

[2018-08-25 16:51] Hjdskes opened #96 "Redesign the picker page?"
Now that we imported the HSV and color selection widgets from GTK+, we can change the design to be more modern and better fitting with GNOME's HIG.

Any designers want to have a go? All feedback is welcome!

[2018-08-25 18:52] #64 closed

[2018-08-25 18:53] Hjdskes opened #97 "Remove duplication in ColorItem and ColorRow?"
Both carry a tuple `(color name, hex code)` around. We could move this to `Gcolor3ColorItem` only, and make `Gcolor3ColorRow` delegate to its item.

[2018-08-25 18:57] #45 closed

[2018-08-25 20:14] Hjdskes opened #98 "Update translations for 2.3.2"
The release of Gcolor3 2.3 is now only blocking on updated translations. I have myself updated those two that I can. It would be great if you could update the translation of your language!

- [ ] Dutch
- [ ] British English
- [ ] German (@2ion, @palob?)
- [ ] Greek (@alex285, @subdee?)
- [ ] Spanish (@xoan?)
- [ ] French (@ngquerol, @Fnux?)
- [ ] Galician (@xoan, @frandieguez?)
- [ ] Norwegian Bok

[2018-08-25 20:15] Hjdskes commented on #87
The new release is now pending only on updated translations, see #98.

[2018-08-25 20:34] dasnoopy commented on #96
.. first of all thanks to you and other developers,  regarding the solved CTRL+C / CTRL+V issue :-)

about this "issue", I'm not a designer , but  I would like to suggest some changes  (if feasible) in the picker page as showed in the following ugly mockup...

![layout_tentative](https://user-images.githubusercontent.com/296922/44622348-f4d64f00-a8b6-11e8-9056-9d00caef5a51.png)

basically :
1) mov

[2018-08-26 11:03] evertiro commented on #21
I'm now maintaining a PPA for this (currently Bionic only, will add others on request)
https://launchpad.net/~evertiro/+archive/ubuntu/gcolor3

[2018-08-26 11:59] Hjdskes commented on #21
Cool, thanks. Note that I will release version 2.3 next week, see #98.

[2018-08-26 12:00] Hjdskes commented on #21
Since there is a PPA now, I will close this issue now. Please contact @evertiro for problems with the PPA.

[2018-08-26 12:00] #21 closed

[2018-08-26 12:26] evertiro commented on #98
Standing by to update the PPA

[2018-08-26 16:33] kostich commented on #98
@Hjdskes, updated the sr_RS in pull request #101.

Cheers!

[2018-08-26 23:08] Hjdskes commented on #95
A good backend might be GSettings, see #59.

[2018-08-27 06:38] subdee commented on #98
@Hjdskes updated Greek translation in #102

[2018-09-01 17:58] Hjdskes commented on #87
Pull request opened: https://github.com/flathub/flathub/pull/601

[2018-09-01 17:58] Hjdskes commented on #87
Let's track further progress in that PR. Closing.

[2018-09-01 17:58] #87 closed

[2018-09-01 17:59] Hjdskes commented on #98
@evertiro 2.3 is out! This issue now tracks translations for version 2.3.1.

[2018-09-01 23:28] jbicha opened #105 "Consider moving to GNOME Gitlab"
Would you be interested in moving this project to GNOME infrastructure?

https://gitlab.gnome.org/World

[2018-09-02 00:11] qwertychouskie opened #106 "Consider renaming to e.g. GNOME Colors?"
A name like Colors/GNOME Colors would be much more in-line with the other GNOME names.  I could totally see this as an official GNOME app someday :)

[2018-09-02 09:27] Hjdskes commented on #106
I can consider "Colors", but "GNOME Colors" goes too far for a project that isn't in any way related to or endorsed by GNOME, the entity.

@jbicha, are there guidelines for project names under World on gitlab.gnome.org?

[2018-09-02 11:33] Fnux commented on #98
@Hjdskes I will update the french translation within a few days.

[2018-09-02 12:50] jbicha commented on #105
The wiki says you should talk to https://wiki.gnome.org/CarlosSoriano

[2018-09-02 12:55] jbicha commented on #106
I don't know. Maybe the [GNOME Release Team](https://wiki.gnome.org/ReleasePlanning) could help you with naming guidelines.

[2018-09-02 13:03] Hjdskes commented on #105
Thanks, email sent.

[2018-09-02 16:01] alex285 commented on #87
hey @Hjdskes thanks!
https://youtu.be/iwo_TxWtx0E

[2018-09-02 22:59] Hjdskes commented on #105
This is now done: https://gitlab.gnome.org/World/gcolor3/

I'll leave this repository active for now, so current contributors will see the move and have time to move as well or send in their last pull requests.

[2018-09-02 22:59] #105 closed

[2018-09-03 18:51] Hjdskes commented on #98
Closing this as Gcolor3 has moved to GNOME GitLab, where it will now be translated by GNOME's translation teams.

[2018-09-03 18:51] #98 closed